@import "_variables.scss";


//Services

.section{
    text-align: center;
    background-color: $color3;
    padding: 4rem 1.5rem;
    @media screen and (max-width: 400px){
        padding: 4rem 0.4rem;
    }
}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(255px,1fr));
    row-gap: 2rem;
    column-gap: 10px;
    @media screen and (max-width: 400px){
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    }
    .service{
        span{
            font-size: 2.4rem;
            color: $color2;
        }
        h4, p{
            color: $color1;
            margin-bottom: 20px;
        }
        h4{
            font-size: 1.3rem;
            text-transform: capitalize;
        }
        
    }
}
///Room preview

.roomPreview{
    background-color: $bgColor;
    text-align: center;
    padding: 4rem 1.5rem;
    @media screen and (max-width: 400px){
        padding: 4rem 0.8rem;
    }

}
.previewContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    column-gap: 40px;
    row-gap: 2rem;
    @media screen and (max-width: 400px){
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    }
}
.btnInfo{
    width: 30%;
}
.room{
    box-shadow: $lightShadow;
    .imgContainer{
        position: relative;
        img{
            width: 100%;
        }
        a{
            position: absolute;
            top:50%;
            right: 50%;
            transform: scale(0);
            transition: $mainTransition;
            letter-spacing: $mainSpacing;
            font-weight: bold;
        }
        .roomInfo{
            background-color: $color3;
            color: $color1;
            margin-top: -3px;
            padding: .8rem 0;
            text-transform: uppercase;
            text-align: center;
        }
        &:hover{
            box-shadow: $darkShadow;
            a{
                transform: scale(1);
                transform: translate(50%,-50%);
            }
        }
    }
}
