@import "_variables.scss";

//Contenedor navbar
.navbar{
    min-height: 9vh;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bgDark;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    transition: $mainTransition;
    @media screen and (max-width: 768px){
        display: block;
    }
    
}
///Burger menu
.logoAndBurger{
    padding-left: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    .logo-name{
        letter-spacing: 5px;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: bold;
        font-family: $font1;
        color: $color1;
        
    }
    .burger{
        display: none;
        border: none;
        background-color: transparent;
        padding-right: 15px;
        
        .nav-icon{
            color: $color1;
            font-size: 1.5rem;
            cursor: pointer; 
        }
        @media screen and (max-width: 768px){
            display: block ;
        }
    }
}

//Links to pages

.nav-links{    
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    transition: $mainTransition;
    .nav-link{
        text-decoration: none;
        color: $color1;
        transition: $mainTransition;
        &:hover{
            color: $color2;
        }
    }
    @media screen and (max-width: 768px){
        display: block;
        margin: auto;
        text-align: center;
        height: 0;
        overflow: hidden;
        li{
            margin: 15px 0;
        }
    }  
}
.show-nav{
    height: 100px;
}

