@import '_variables.scss';
.filters{
    min-height: 40vh;
    padding: 10px 10px;
    h2{
        text-align: center;
    }
    
}
.filterForm{
    max-width: 95vw;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 20px;
    row-gap: 1rem;
    @media screen and (max-width:220px) {
        grid-template-columns: repeat(auto-fit, minmax(140px,1fr));   
    }
    .formGroup{
    
        label{
            font-size: 1.2rem;
            color: $color1;
        }
        .formItem{
            width: 100%;
            font-size: 1rem;
            color: $color1;
            
        }
    }
}

.roomList{
    width: 80vw;
    padding: 40px 0px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    @media screen and (max-width: 400px){
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
        width: 90vw;
    }
    column-gap: 30px;
    row-gap: 1rem;

}

.empty{
    padding: 40px 0px;
    text-align: center;
}