//Variables

$color1 : #000F45;
$color2: #A57A00;
$colorO2: rgba(166,122,0,0.6);
$color3: #ececec;;
$bgColor : #fff;
$textColor: #fff;
$bgLight : rgba(255, 255, 255, 0.5);
$bgDark : rgba(221, 216, 216, 0.95);
$mainSpacing: 2px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.5);
$font1: 'Lato';
$font2 : 'Parisienne';
$mainTransition: all 0.3s linear;